* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pink {
  width: 500px;
  height: 300px;
  margin: 200px auto;
  background-image: linear-gradient(110deg, purple, red);
}

.ovalblue {
  width: 1000px;
  height: 600px;
  margin: 200px auto;
  background-image: radial-gradient(white, pink, darkblue);
}
.baraban {
  padding: 30px;
  width: 500px;
  height: 450px;
  border: 10px solid gray;
  border-radius: 50%;
  margin: 0px auto;
  background-image: conic-gradient(
    red 13%,
    blue 13% 26%,
    yellow 26% 39%,
    green 39% 52%,
    pink 52% 65%,
    purple 65% 78%,
    black 78% 91%,
    brown 91% 100%
  );
}
.bluesky {
  width: 600px;
  height: 400px;
  border: 5px solid blue;
  margin: 10px auto;
  margin-top: 100px;
  background-color: black;
}
.gradient {
  margin: 0px auto;
  margin-top: 100px;
  margin-left: -10px;
  font-size: 80px;
  font-family: sans-serif;
  font-weight: 900;
  color: rgb(11, 202, 202);
  text-align: center;
}
.red {
  padding: 30px;
  width: 500px;
  height: 450px;
  border-radius: 50%;
  margin: 0px auto;
  background-image: conic-gradient(red 50%, yellow 50% 70%, blue 70%);
}

.oq {
  padding: 30px;
  width: 400px;
  height: 350px;
  border-radius: 50%;
  margin: 0px auto;
  background-color: white;
  margin-top: 20px;
}

.radius1 {
  padding: 30px;
  width: 300px;
  height: 250px;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 30px;
  background-image: conic-gradient(
    rgb(53, 52, 52) 13%,
    rgb(223, 126, 142) 13% 46%,
    rgb(160, 207, 223) 46%
  );
}
.radius2 {
  padding: 30px;
  width: 300px;
  height: 250px;
  border-radius: 50%;
  margin-left: 500px;
  margin-top: -250px;
  background-image: conic-gradient(
    rgb(110, 110, 110) 20%,
    rgb(211, 152, 162) 20% 45%,
    rgb(154, 198, 212) 45% 70%,
    rgb(197, 197, 86) 70%
  );
}
.radius3 {
  padding: 30px;
  width: 240px;
  height: 190px;
  border-radius: 50%;
  background-color: white;
}
.radius4 {
  padding: 30px;
  width: 300px;
  height: 250px;
  border-radius: 50%;
  margin-left: 950px;
  margin-top: -250px;
  background-image: conic-gradient(
    rgb(154, 198, 212) 25%,
    rgb(110, 110, 110) 25% 50%,
    rgb(197, 197, 86) 50% 75%,
    rgb(211, 152, 162) 75%
  );
}
.radiuses{
  width: 1300px;
  height: 400px;
  border: 2px solid black;
  margin-left: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.cssconic{
  font-size: 80px;
  text-align: center;
}
